%table.table
  %tr
    %th.hidden-xs #
    %th 제목
    %th.hidden-xs 추천
    %th 글쓴이
    %th.hidden-xs 날짜
    %th.hidden-xs 조회수
  - articles.each do |article|
    %tr
      %td.hidden-xs= article.id
      %td
        = link_to article.title, article
        = "[#{article.comment_count}]"
      %td.hidden-xs= article.upvote
      %td= article.nickname
      %td.hidden-xs= article.created_at.getlocal.strftime("%Y-%m-%d")
      %td.hidden-xs= article.view_count

.clearfix
  = link_to '글쓰기', new_board_article_path(board.id), class: 'btn btn-primary pull-right'
.text-center
  = paginate articles, params: { controller: :articles, action: :index, board_id: board.id, id: nil }
