%h1 Listing boards

%table
  %tr
    %th ID
    %th Name
    %th Anonymous
    %th
    %th

  - @boards.each do |board|
    %tr
      %td= board.id
      %td= board.name
      %td= board.anonymous
      %td= link_to 'Show', board
      %td= link_to 'Edit', edit_board_path(board)

%br

= link_to 'New Board', new_board_path
